@font-face {
  font-family: "Fuse V.2 Display";
  src: url("./assets/fonts/FuseV.2Display-ExtraBold.otf") format("opentype");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Fuse V.2 Display";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/FuseV.2Display-Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/SourceSansPro-Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("./assets/fonts/SourceSansPro-Semibold.otf") format("opentype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("./assets/fonts/SourceSansPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

/* navigation */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 25px;
  max-width: 1440px;
  margin: 0 auto;
}

.navigation__links--desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation__links--desktop {
    display: block;
  }

  .navigation__links--mobile {
    display: none;
  }
}

.navigation__link {
  color: #282d30;
  text-decoration: none;
  font-weight: 500;
}

.navigation__link:not(:last-of-type) {
  margin-right: 37px;
}

.navigation__link--green {
  background-color: #5cc2a0;
  color: #fff;
  padding: 9px 26px;
  border-radius: 6px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  width: 36px;
  cursor: pointer;
}

.hamburger__bar {
  border-bottom: 2px solid #282d30;
  width: 100%;
}

.hamburger__bar:not(:last-of-type) {
  margin-bottom: 10px;
}
