@font-face {
  font-family: "Fuse V.2 Display";
  src: url("./assets/fonts/FuseV.2Display-ExtraBold.otf") format("opentype");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Fuse V.2 Display";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/FuseV.2Display-Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/SourceSansPro-Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("./assets/fonts/SourceSansPro-Semibold.otf") format("opentype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("./assets/fonts/SourceSansPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 25px;
  font-family: "Source Sans Pro", sans-serif;
}

.limit-width {
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  font-family: "Fuse V.2 Display";
  font-size: 56px;
  line-height: 60px;
  font-weight: 800;
  color: rgb(40, 45, 48);
  margin: 0;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 112px;
    line-height: 120px;
  }
}

.title--green {
  color: rgb(68, 199, 155);
}

.description {
  font-family: "Fuse V.2 Display";
  font-size: 16px;
  line-height: 24px;
  color: rgb(40, 45, 48);
}

/* navigation */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.navigation__links--desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation__links--desktop {
    display: block;
  }

  .navigation__links--mobile {
    display: none;
  }
}

.navigation__link {
  color: #282d30;
  text-decoration: none;
  font-weight: 500;
}

.navigation__link:not(:last-of-type) {
  margin-right: 37px;
}

.navigation__link--green {
  background-color: #5cc2a0;
  color: #fff;
  padding: 9px 26px;
  border-radius: 6px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  width: 36px;
  cursor: pointer;
}

.hamburger__bar {
  border-bottom: 2px solid #282d30;
  width: 100%;
}

.hamburger__bar:not(:last-of-type) {
  margin-bottom: 10px;
}

/* Što je DUMP Internship? */

.about {
  margin: 100px 0;
  position: relative;
}

.about__background {
  background-color: #f7f9fc;
  position: absolute;
  top: 75px;
  width: calc(100% - 25px);
  height: calc(100% - 2 * 75px);
  z-index: -1;
  border-radius: 0px 40px 40px 0px;
}

@media screen and (min-width: 768px) {
  .about__background {
    width: calc(100% - 135px);
  }
}

.about__description {
  max-width: 380px;
  margin: 12px 0px 0px;
}

.about__cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 180px;
}

.about__card {
  padding: 24px;
  background-color: #fff;
  max-width: 280px;
  box-shadow: rgba(214, 224, 233, 0.06) 0px 2px 6px,
    rgba(214, 224, 233, 0.12) 0px 4px 16px,
    rgba(214, 224, 233, 0.31) 0px 8px 40px;
  border-radius: 32px;
  margin-bottom: 32px;
}

.about__card__title {
  text-transform: uppercase;
  margin: 28px 0px 8px;
  font-size: 16px;
}

.about__card__title--blue {
  color: rgb(109, 165, 227);
}

.about__card__title--green {
  color: rgb(68, 199, 155);
}

.about__card__title--purple {
  color: rgb(176, 135, 237);
}

.about__card__title--red {
  color: rgb(174, 37, 54);
}

@media screen and (min-width: 768px) {
  .about__cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(2 * 280px + 32px);
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1100px) {
  .about__header {
    margin-left: 216px;
  }

  .about__cards {
    width: 100%;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .about__card:not(:last-of-type) {
    margin-right: 32px;
  }
}

/* Zašto postati dumpovac? */

@media screen and (min-width: 1100px) {
  .why__content,
  .why__header {
    margin: 0px 216px;
  }
}

.why__description {
  max-width: 488px;
  margin-bottom: 48px;
}

.why__content {
  display: flex;
  flex-direction: column;
}

.why__image {
  display: none;
}

@media screen and (min-width: 768px) {
  .why__content {
    flex-direction: row;
  }

  .why__image--mobile {
    display: none;
  }

  .why__image {
    display: block;
  }

  .why__cards {
    margin-left: 40px;
  }
}

@media screen and (min-width: 1100px) {
  .why__cards {
    margin-left: 173px;
  }
}

.why__card {
  display: flex;
  margin-bottom: 80px;
  max-width: 418px;
}

.why__card__image {
  margin-right: 24px;
}

.why__card__title {
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 8px;
  margin-top: 0;
}

.why__card__description {
  margin: 0;
}

/* Čime se bavimo u DUMP-u? */

.projects {
  background-color: #f7f9fb;
  padding-top: 100px;
  margin-left: -25px;
  margin-right: -25px;
}

.projects__title {
  color: rgb(40, 45, 48);
  font-family: "Fuse V.2 Display";
  font-weight: 800;
  font-size: 56px;
  line-height: 60px;
  margin: 0;
  padding: 0 25px;
}

.project__cards {
  display: flex;
  overflow-x: scroll;
  margin-bottom: 100px;
  padding: 24px 0;
}

.project__card {
  margin-right: 32px;
  transition: transform 200ms ease-out;
}

.project__card:first-of-type {
  margin-left: 32px;
}

.project__card img {
  border-radius: 32px;
}

.project__card:hover {
  transform: scale(1.05);
}
