@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

/* navigation */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 25px;
  max-width: 1440px;
  margin: 0 auto;
}

.navigation__links--desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation__links--desktop {
    display: block;
  }

  .navigation__links--mobile {
    display: none;
  }
}

.navigation__link {
  color: #282d30;
  text-decoration: none;
  font-weight: 600;
}

.navigation__link:not(:last-of-type) {
  margin-right: 37px;
}

.navigation__link--green {
  background-color: #5cc2a0;
  color: #fff;
  padding: 9px 26px;
  border-radius: 6px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  width: 36px;
  cursor: pointer;
}

.hamburger__bar {
  border-bottom: 2px solid #282d30;
  width: 100%;
}

.hamburger__bar:not(:last-of-type) {
  margin-bottom: 10px;
}
